// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$myprimary-color: rgb(52, 83, 255);
$mysecondary-color: rgb(85, 85, 85);
$mysuccess-color: rgb(0, 199, 99);
$mywarning-color: rgb(252, 217, 103);
$mydanger-color: rgb(250, 38, 84);
$mywhite-color: rgba(255,255,255,0.8);
$my-color: #87232f;
$my-primary-color: #3252e2;
$my-secondary-color: #f4f9fb;
$my-tertiary-color: #bdc3af;
$my-quaternary-color: #5c5241;
$my-quinary-color: #150b04;

body {
  // font-family: 'Quicksand', sans-serif;
  // background-color: rgb(233, 233, 233);

  #login-failed-alert {
    bottom: 10vh;
    right: 2%;
    width: 25vw;
  }
}
  
.card {
  border: 0;
}

table, tr {
  font-size: 0.75rem;
  vertical-align: middle;
}

.bg-my-color {
  background-color: $my-color;
}


.sidebar {
    width: 20%;
    background-color: $my-secondary-color;
    height: 100%;
    overflow: hidden;
    position: relative;

    .brand-name {
      color: white;
      height: 62px;
      background-color: $my-color;
      text-align: center;
      font-size: 1.6rem;

      span {
        color: $my-tertiary-color;
      }
    }

    .accordion {

      .accordion-button:hover {
        background-color: $my-quinary-color;
        color: $my-secondary-color;
      }

      .nav-link {
        height: 52px;
        border-bottom: #f5f5f5 solid 1px;
        display: flex;
        align-items: center;
        background-color: $my-tertiary-color;
      }

      .nav-link:hover {
        background-color: $my-secondary-color;
      }
    }

    .copyright {
      bottom: 0;
      position: absolute;
      width: 100%;
    }

  }

.main-content {
  // background-color: cadetblue;
  height: 100%;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;

  .navbar {
    background-color: $my-secondary-color;
  }

  main.content {
    width: 100%;
    padding: 20px;
  }
}

// Dashboard GRID
.dashboard-area {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1.5fr;
  grid-template-areas: 
  "assets liabilities equity finance"
  "kas kas piutang finance"
  "kas kas hutang finance"
  "revenue hpp profit expense";
  gap: 15px;

  @mixin myprimary-color {
    background-color: $myprimary-color;
    color: $mywhite-color;
  }

  @mixin mysecondary-color {
    background-color: $mysecondary-color;
    color: $mywhite-color;
  }

  @mixin mydanger-color {
    background-color: $mydanger-color;
    color: $mywhite-color;
  }

 &-assets {
  @include myprimary-color;
  grid-area: assets;

  span {
    font-size: 2.1em;
    font-weight: 700;
  }
 }
 &-liabilities {
  @include myprimary-color;
  grid-area: liabilities;

  span {
    font-size: 2.1em;
    font-weight: 700;
  }
 } 
 &-equity {
  @include myprimary-color;
  grid-area: equity;

  span {
    font-size: 2.1em;
    font-weight: 700;
  }
 } 
 &-kas {
  @include myprimary-color;
  grid-area: kas;

  .account-value {
    span {
      font-size: 3.3em;
      color: $mywarning-color;
    }
  }
  .card-cash-list {
    overflow: auto;

    .card-cash-list { 
      &-items{
      background-color: rgb(121, 141, 255);
      padding: 15px;
      border-radius: 25px;

      span{
      font-size: 1em;
      }
      }
    }
  }

  table {
    width: 100%;
    font-size: 0.9em;
    height: 100%;

    tr, th, td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.425);
      padding: 10px;
    }
  }

  span {
    font-size: 2em;
    font-weight: 700;
  }
 } 
 &-piutang {
  @include mysecondary-color;
  grid-area: piutang;

  h3 {
    font-weight: 700;
    color: $mywarning-color
  }
  
 } 
 &-hutang {
  @include mysecondary-color;
  grid-area: hutang;

  h3 {
    font-weight: 700;
    color: $mywarning-color
  }
 }
 &-revenue {
  @include mydanger-color;
  grid-area: revenue;
 }
 &-hpp {
  @include mydanger-color;
  grid-area: hpp;
 } 
 &-profit {
  @include mydanger-color;
  grid-area: profit;
 } 
 &-expense {
  @include mydanger-color;
  grid-area: expense;
 } 
 &-finance {
  grid-area: finance;
  background-color: #ddd;

  .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-finance-indicator {
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 80px;

    &-icon {
      background-color: $myprimary-color;
      border-radius: 50%;
      color: wheat;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: end;

      span {
        font-size: 1.4em;
        font-weight: 700;
      }
    }

    h5 {
      font-size: 0.65em;
    }
  }
}
 } 
}

@media (max-width: 991.98px) {
  .dashboard-area {
    display: flex;
    flex-direction: column;
  }
}
// End Dashboard GRID